@use 'global' as *;

.blog-items{
    display: grid;
    gap: rem(42);
    grid-template-columns: 1fr;
    padding: 0 rem(4);

    @include mq('md'){
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
    }
}