@use 'global' as *;

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-color;
    padding: rem(16) rem(40);
    position: relative;
    z-index: 1;
}

.button p{
    color: $white;
    font-family: $third-font-family;
    font-weight: $normal;
    line-height: rem(22);
    font-size: rem(14);
    margin-right: rem(8);
}

.button svg{
    width: rem(40);
    height: rem(6);
}

.button::before{
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid $accent-color;
    position: absolute;
    top: rem(4);
    left: rem(4);
    z-index: -2;
}

.button::after{
    background: $white;
    border: 1px solid $accent-color;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.button:hover p{
    color: $accent-color;
}

.button:hover path{
    stroke: $accent-color;
}

.button:hover::after {
    transform: scale(1, 1);
}



