@use 'global' as *;

.price{
    margin-top: rem(83);
    padding: rem(80) 0 rem(83);
    background-color: $sub-color;
    position: relative;

    @include mq('md'){
        margin-top: rem(143);
        padding: rem(103) 0 rem(106);
    }
}

.price__content{
    margin-top: rem(30);

    @include mq('md'){
        width: 100%;
        margin-top: rem(40);
        display: flex;
        gap: rem(93);
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.price__image-wrap.colorbox{
    width: 100%;

    @include mq('md'){
        width: rem(491);
    }
}

.price__image img{
    width: 100%;

    @include mq('md'){
        width: rem(491);
    }
}

.price__list{
    margin-top: rem(40);

    @include mq('md'){
        margin-top: 0;
        width: calc(100% - rem(587));
    }
}

.price__button{
    margin-top: rem(40);
    margin-left: rem(-3);
    text-align: center;

    @include mq('md'){
        margin-top: rem(80);
    }
}

.price__accent{
    position: absolute;
    bottom: rem(57);
    left: calc(50% - rem(620));
}

.price__accent img{
    width: rem(437);
}