@use 'global' as *;


.table{
    width: 100%;
    border-collapse: collapse;
}

.table__title{
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 24px;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    padding: rem(8) 0;
    width: 100%;

    @include mq('md'){
        width: 28.571%;
    }
}

.table__title p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);

    @include mq('md'){
        flex-direction: column-reverse;
    }

}

.table__title img{
    width: rem(24);
    height: rem(24);

    @include mq('md'){
        width: rem(64);
        height: rem(64);
    }
}

.table__body td{
    color: $font-color;
    text-align: center;
    font-size: rem(16);
    line-height: 24px;
    font-weight: $normal;
    font-family: $base-font-family;
    padding: rem(8) 0;

    border: 1px solid $accent-color;

    @include mq('md'){
        padding: rem(18);
    }

}

.table__menu{
    width: 70%;

    @include mq('md'){
        width: 48.571%;
    }
}

.table__price{
    width: 30%;

    @include mq('md'){
        width: 22.875%;
    }
}
