@use 'global' as *;

.tab-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(20);
    row-gap: rem(16);

    @include mq('md'){
        max-width: rem(744);
        width: 100%;
        gap: rem(32);
        grid-template-columns: repeat(4, 1fr);

    }
}

.tab-items__tab{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(5) 0;
    background: $white;
    color: $accent-color;
    border: 1px solid $accent-color;
    font-size: rem(14);
    line-height: 157.143%;

}

.tab-items__tab.is-active{
    background-color: $accent-color;
    color: $white;
}